<section class="ftco-section" id="pets">
  <div class="container-fluid">
    <div class="container">
      <div class="row col-lg-12">
        <div class="col-lg-6" id="bg4">
        </div>
        <div class="col-lg-6">
            <div class="row justify-content-center pb-3">
              <div class="col-md-5 col-lg-10 ftco-animate text-center">
                <h2 class="raleway_bold"><span class="span_titles">¿Por qué Adoptar?</span></h2>
              </div>
            </div>
          <p class="raleway_light text-justify">
            Salva una vida: Muchas personas abandonan a sus mascotas en la calle mientras que otras las entregan en albergues o refugios. Debido al poco espacio en estos lugares, en muchos casos los animales son sacrificados. Los que terminan en la calle pueden morir de hambre, atropellados, abusados o enfermos.
          </p>
          <p class="raleway_light text-justify"> 
            Te brindan amor incondicional: Pase lo que pase, la mascota siempre estará disponible y será la primera que se alegre cuando llegue a casa. El amor que brindan los animales es el más puro.
          </p>
          <p class="raleway_light text-justify"> 
            Las mascotas que se encuentran en tiendas, por lo general, viven dentro de jaulas y lejos del calor humano. Además, se suele desconocer su origen y si fueron criadas responsablemente. Al comprar, se continúa con el ciclo de venta y encierro.
          </p>
          <p class="raleway_light text-justify"> 
            Compañía: Tener una mascota hará que nunca se sienta solo. Son fieles compañeros.
          </p>
          <p class="raleway_light text-justify"> 
            Te mantienen activo: Pasar tiempo paseando al perro o jugando con el gato es una buena manera de hacer ejercicio, de fortalecer el vínculo con la mascota y, además, en el caso de los perros, lo expone a socializar con otras personas.
          </p>
          <p class="raleway_light text-justify"> 
            Se le da oportunidad a otros: Al adoptar, no solo ilumina la vida de un animal, además ayuda a liberar espacio en un albergue, lo que permite rescatar a más animales abandonados a su suerte.
          </p>
          <p>Fuente: <a href="https://elclubmascotas.com/blog/la-importancia-de-adoptar">El club mascotas</a></p>
        </div>
       
      </div>
      
      <div class="row col-lg-12 mt-5" id="give_in_adoption">
        <div class="col-lg-6">
          <div class="row justify-content-center pb-3">
            <div class="col-md-5 col-lg-10 ftco-animate text-center">
              <h2 class="raleway_bold"><span class="span_titles">¿Por qué dar en Adopción?</span></h2>
            </div>
          </div>
          <p class="raleway_light text-justify">
            Antes de abandonar a tu mascota debes pensar en que un perro es más que un amigo incondicional, como un miembro más de la familia. Y es que te complementa en los momentos más felices y está a tu lado en los más tristes. Por supuesto, debes tener en cuenta que los canes también sufren y tienen sentimientos. Eso sí, nunca te guardan rencor, no te juzgan y siempre te quieren. Por otro lado, los perros ayudan a hacer ejercicio y a hacer amigos, además de ser los complementos perfectos para niños y mayores. Tampoco hay que olvidar que abandonar a un animal puede provocar terribles consecuencias, tanto para él como para la gente, ya que pueden suceder accidentes.
          </p>
          <p>Fuente: <a href="https://animalmascota.com/razones-para-no-abandonar-a-un-perro/">Animal mascota</a></p>
          
          <p class="raleway_light text-justify"> 
            Cada individuo por el solo hecho de existir se hace merecedor de gozar de estas libertades y más aún por pertenecer a la población de fauna doméstica. Somos los seres humanos quienes nos compete garantizar que así sea. Que estas libertades sean brindadas a cada individuo, es la obligación que contrajo nuestra especie en el pasado cuando consumó la acción de domesticar un segmento de fauna como animales de compañía.
          </p>
          <p>Fuente: <a href="https://comunidadmilhuellitas.org/">Comunidad mil huellitas</a></p>

        </div>
        <div class="col-lg-6" id="bg5">

          </div>
      </div>


    </div>
  </div>
</section>
