<section class="ftco-counter ftco-intro raleway_light" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <div class="col-md">
              <i class="fa fa-hospital-o fa-5x" aria-hidden="true" id="fontawesome_hospital"></i>
            </div>
            <div class="col-md-12">
              <p class="cards-centers"><%= link_to 'Centros de Diagnóstico', static_pages_diagnostic_centers_path, class: 'blue-text' %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <div class="col-md">
              <i class="fa fa-paw fa-5x" aria-hidden="true"  id="fontawesome_paw_medkit"></i>
            </div>
            <div class="col-md-12">
              <p class="cards-centers"><%= link_to 'Hogares de Adopción', static_pages_adoption_homes_path, class: 'white-text' %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <div class="col-md">
              <i class="fa fa-medkit fa-5x" aria-hidden="true" id="fontawesome_paw_medkit"></i>
            </div>
            <div class="col-md-12">
              <p class="cards-centers"><%= link_to 'Centros de Cirugía', static_pages_surgery_centers_path, class: 'white-text' %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
