<section class="ftco-section-3 img" id="contact">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="mb-3 raleway_bold">Envianos tu mensaje</h3>
        <form action="#" class="volunter-form">
          <div class="form-row d-flex ftco-animate">
            <div class="col-6 form-group">
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-6 form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-row d-flex ftco-animate">
            <div class="col-6 form-group">
              <input type="text" class="form-control" placeholder="Número Celular">
            </div>
            <div class="col-6 form-group">
              <input type="email" class="form-control" placeholder="Asunto">
            </div>
          </div>
          <div class="form-row d-flex ftco-animate">
            <div class="form-group col-12">
              <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Enviar mensaje" class="btn btn-info py-3 px-5 raleway_light">
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <div class="row">
          <h3 class="mb-3 raleway_bold">Hola!</h3>
        </div>
        <div class="row raleway_medium color-3">
          <p class="p_contact color-3">Tu mensaje es muy importante para nosotros. Responderemos a la menor brevedad posible.</p>
        </div>
        <div class="row">
          <h3 class="mb-3 raleway_bold">Contacto</h3>
        </div>
        <div class="row raleway_light color-3">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><p class="p_contact mx-2">E-mail: contacto@helpetproject.info</p>
        </div>
        <div class="row raleway_light color-3">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i><p class="p_contact mx-2">Teléfono: (+57) 318 545 6733</p>
        </div>
      </div>
    </div>
  </div>
</section>
