<section class="ftco-section donate-section" id="donate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-12 ftco-animate text-center">
        <h2 class="raleway_bold h2_titles"><span class="span_titles">Apóyanos</span></h2>
      </div>
    </div>

    <div class="row d-md-flex mt-5">
      <div class="col-lg-5 pl-md-5 ftco-animate" id="bg3"> </div>

      <div class="col-lg-7 volunteer pl-md-5 ftco-animate">
        <div class="row raleway_medium color-3">
          <p class="raleway_light text-justify">
            Con tu donación no solo ayudarás a cubrir los costos de arrendamiento de la infraestructura necesaria para que HelPet siempre esté al alcance de la comunidad, también contribuirás a que siempre esté en constante desarrollo.
          </p>
          <p class="raleway_light text-justify">
            Si deseas donar a través de PayPal haz clic en el botón hacer una donación, o si deseas hacerla por medio de una consignación o transferencia bancaria puedes comunicarte directamente con nosotros haciendo clic en el botón de Whatsapp que aparece en pantalla.<br>
          </p>
          <p class="raleway_light text-justify">
            Gracias por tu apoyo.              
          </p>
        </div>
        <%= link_to 'Hacer una donación', 'https://www.paypal.me/helpetproject', class: 'btn btn-info btn-outline-white px-5 py-3'%>
        <div class="row mt-5">
          <h3 class="mb-3 raleway_bold">Contacto</h3>
        </div>
        <div class="row raleway_light color-3">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><p class="p_contact mx-2">E-mail: contacto@helpetproject.info</p>
        </div>
        <div class="row raleway_light color-3">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i><p class="p_contact mx-2">Teléfono: (+57) 318 545 6733</p>
        </div>
      </div>
    </div>
  </div>
</section>
