<section class="ftco-section4 bg-blue" id="download-app">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-6">
        <p class="white-text raleway_bold download-app-text">Descarga la APP</p>
      </div>
      <div class="col-md-3">
      <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="" class="btn btn-info btn-outline-white px-5 py-3 mt-3">Play Store</a></p>
      </div>
      <div class="col-md-3">
      <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="" class="btn btn-info btn-outline-white px-5 py-3 mt-3">APP Store</a></p>
      </div>
    </div>
  </div>
</section>
<div class="col-lg-12" id="bg-download-app"></div>