<section class="ftco-section bg-happy_endings">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-5 col-lg-10 ftco-animate text-center">
        <h2 class="raleway_bold happy_endings_bar"><span class="happy_endings_tile">Finales Felices</span></h2>
      </div>
    </div>
    <div class="container">
      <section class="ftco-gallery">
        <div class="d-md-flex">
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
        <div class="d-md-flex">
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          <a href="/assets/happy_endings.png" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate margin_pets" style="background-image: url(/assets/happy_endings.png);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
      </section>
    </div>
  </div>
</section>
