<footer class="ftco-footer ftco-section img raleway_medium">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 raleway_bold">Síguenos</h2>
          <div class="row">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <a href="https://www.facebook.com/helpetproject"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
              <a href="https://github.com/helpetproject/"><i class="fa fa-2x fa fa-github-square" aria-hidden="true"></i></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 raleway_bold">Proyecto</h2>
          <div class="row">
            <ul class="list-unstyled">
              <li class="ftco-animate py-2 d-block"><a href="#donate">Apóyanos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
         <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2 raleway_bold">Acerca de nosotros</h2>
          <ul class="list-unstyled">
            <l<li class="ftco-animate py-2 d-block"><a href="<%= static_pages_team_path%>">Equipo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 raleway_bold">¿Preguntas?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li class="ftco-animate py-2 d-block"><a href="#"><span class="fa fa-3x fa-mobile col-md"></span><span class="text"> +57 318 545 67 33</span></a></li>
              <li class="ftco-animate py-2 d-block"><a href="#"><span class="fa fa-2x fa-envelope-o col-md"></span><span class="text">contacto@helpetproject.info</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          HelpetProject es un proyecto en desarrollo bajo la licencia GPLv3. El diseño de este template se basa en <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
